
<html lang="en">
<head>

  <meta charset="UTF-8">

<!--<link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">-->
<!--<meta name="apple-mobile-web-app-title" content="CodePen">-->

<!--<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">-->

<!--<link rel="mask-icon" type="" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111">-->





  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="shortcut icon" type="image/x-icon" href="https://lh5.googleusercontent.com/Ejqg8c73Bess-2xgsOBXafShxTjIhOMuztVnOyl-7QrvgzX9GDPoGkZrxQAYQeFSu2azDx0pkj4cwdTPTmx3bt21NLaavE-h-bZCMWBi4VDP2A2nNdef_OpXiqdGtTBzKU2qY65n">
<style>
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  background-color: #ccc;
}

.nav-link:hover {
  transition: all 0.4s;
  color: white !important;
}



.nav-link:focus {
  color: orange !important;
}

.nav-link-collapse:after {
  float: right;
  content: '\f067';
  font-family: 'FontAwesome';
}

.nav-link-show:after {
  float: right;
  content: '\f068';
  font-family: 'FontAwesome';
}

.nav-item ul.nav-second-level {
  padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
  padding-left: 10px;
}

@media (min-width: 992px) {
  .sidenav {
    position: fixed;
    top: 60;
    left: 0;
    width: 220px;
    height: calc(100vh - 3.5rem);
    margin-top: 0rem;
    background: #65abf2;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 3);
    overflow-y: auto;
    font-family: Verdana;



  }

  .navbar-expand-lg .sidenav {
    flex-direction: column;


  }


  .content-wrapper {
    margin-left: 230px;
  }

  .footer {
    width: calc(100% - 230px);
    margin-left: 230px;
  }
}
</style>

  <script>
  window.console = window.console || function(t) {};
</script>



  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
{% include 'header.html' %}

</head>

<body>





    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script id="rendered-js">
$(document).ready(function () {
  $('.nav-link-collapse').on('click', function () {
    $('.nav-link-collapse').not(this);
    $(this).toggleClass('nav-link-show');
  });
});
//# sourceURL=pen.js
    </script>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <main class="content-wrapper" >
          <nav class="navbar-expand-lg navbar-light "style="color: green;" >
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto sidenav" id="navAccordion"  >
                <li class="nav-item active" >
                  <a class="nav-link" style="color:black;" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-collapse" style="color:black;" href="#" id="hasSubItems" data-toggle="collapse" data-target="#collapseSubItems00" aria-controls="collapseSubItems00" aria-expanded="false">Джеффрис</a>
                  <ul class="nav-second-level collapse" id="collapseSubItems00" >
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/jeffreys/" style="color:black;">
                        <span class="nav-link-text">О Джеффрис</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/coffee/">
                        <span class="nav-link-text">О кофе</span>
                      </a>
                    </li>
                  </ul>

                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-collapse" style="color:black;" href="#" id="hasSubItems" data-toggle="collapse" data-target="#collapseSubItems0" aria-controls="collapseSubItems0" aria-expanded="false">Поиск локации</a>
                  <ul class="nav-second-level collapse" id="collapseSubItems0" >
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/manual_search/">
                        <span class="nav-link-text">Мануалы по поиску</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/base_search/">
                        <span class="nav-link-text">принципы поиска</span>
                      </a>
                    </li>
                  </ul>

                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-collapse" style="color:black;" href="#" id="hasSubItems" data-toggle="collapse" data-target="#collapseSubItems1" aria-controls="collapseSubItems1" aria-expanded="false">Планирование и начало ремонта</a>
                  <ul class="nav-second-level collapse" id="collapseSubItems1" >
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/diagram/">
                        <span class="nav-link-text">диаграмма ГАНТа</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/design_project/">
                        <span class="nav-link-text">разработка дизайн-проекта</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/otdelka/">
                        <span class="nav-link-text">отделочные материалы</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/bar/">
                        <span class="nav-link-text">барная стойка</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/furniture/">
                        <span class="nav-link-text">мебель</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/banner/">
                        <span class="nav-link-text">вывеска</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link nav-link-collapse" style="color:black;"   id="hasSubItems2" data-toggle="collapse" data-target="#collapseSubItems2"  aria-controls="collapseSubItems2" aria-expanded="false">Оборудование и аксессуары</a>
                  <ul class="nav-second-level collapse" id="collapseSubItems2"  >
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/osnashenie_bara/">
                        <span class="nav-link-text">оснащение бара и подсобки</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/for_barista/">
                        <span class="nav-link-text">инвентарь бариста</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link nav-link-collapse"  style="color:black;"  id="hasSubItems3" data-toggle="collapse" data-target="#collapseSubItems3"  aria-controls="collapseSubItems3" aria-expanded="false">Юридические вопросы</a>
                  <ul class="nav-second-level collapse" id="collapseSubItems3">
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/consumer_corner/">
                        <span class="nav-link-text">уголок потребителя</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/registration/">
                        <span class="nav-link-text">регистрация юридического лица</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/cashbox/">
                        <span class="nav-link-text">подключение РКО</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/rospotreb/">
                        <span class="nav-link-text">Роспотребнадзор</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/fire_protect/">
                        <span class="nav-link-text">пожарная безопасность</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/tovarnyi_znak/">
                        <span class="nav-link-text">товарный знак</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-collapse" style="color:black;" href="#" id="hasSubItems" data-toggle="collapse" data-target="#collapseSubItems4" aria-controls="collapseSubItems4" aria-expanded="false">Закупки</a>
                  <ul class="nav-second-level collapse" id="collapseSubItems4" >
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/postavshik/">
                        <span class="nav-link-text">навигатор по поставщикам</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/fartuk/">
                        <span class="nav-link-text">заказ фартуков</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/merch_deсor/">
                        <span class="nav-link-text">заказ фирменного мерча и декора</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-collapse" style="color:black;" href="#" id="hasSubItems" data-toggle="collapse" data-target="#collapseSubItems5" aria-controls="collapseSubItems5" aria-expanded="false">Персонал</a>
                  <ul class="nav-second-level collapse" id="collapseSubItems5" >
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/podbor_barista/">
                        <span class="nav-link-text">подбор бариста</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/check_list/">
                        <span class="nav-link-text">чек-листы, процедуры и стандарты бариста</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/instruction/">
                        <span class="nav-link-text">должностная инструкция бариста</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/trudoustroystvo/">
                        <span class="nav-link-text">кадровое делопроизводство</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/mobile/">
                        <span class="nav-link-text">политика использования мобильных телефонов</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-collapse" style="color:black;" href="#" id="hasSubItems" data-toggle="collapse" data-target="#collapseSubItems6" aria-controls="collapseSubItems6" aria-expanded="false">Маркетинг</a>
                  <ul class="nav-second-level collapse" id="collapseSubItems6" >
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/marketing/">
                        <span class="nav-link-text">руководство по лояльному маркетингу</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/torgovaya_karta/">
                        <span class="nav-link-text">карта торговой территории</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/poligrafya/">
                        <span class="nav-link-text">полиграфия на открытие</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/sezonnoe_ukrashenie/">
                        <span class="nav-link-text">сезонное украшение кофеен</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/photography/">
                        <span class="nav-link-text">тз на фотосъемку</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/music/">
                        <span class="nav-link-text">музыка в кофейни</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/loyalty_program/">
                        <span class="nav-link-text">программа лояльности для гостей</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/for_instagram/">
                        <span class="nav-link-text">руководство по ведению инстаграм</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link nav-link-collapse" style="color:black;"   id="hasSubItems7" data-toggle="collapse" data-target="#collapseSubItems7"  aria-controls="collapseSubItems7" aria-expanded="false">Производство и бар</a>
                  <ul class="nav-second-level collapse" id="collapseSubItems7"  >
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/ttk_napitki">
                        <span class="nav-link-text">ТТК напитки</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/vitrina/">
                        <span class="nav-link-text">выкладка витрины</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/video/">
                        <span class="nav-link-text">видео-уроки</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/uhod_za_oborudovaniem/">
                        <span class="nav-link-text">памятка по уходу за оборудованием</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-collapse" style="color:black;" href="#" id="hasSubItems" data-toggle="collapse" data-target="#collapseSubItems8" aria-controls="collapseSubItems8" aria-expanded="false">Кассовое ПО</a>
                  <ul class="nav-second-level collapse" id="collapseSubItems8" >
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/contact/">
                        <span class="nav-link-text">контакты для связи</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/kassovoe_po/">
                        <span class="nav-link-text">инструкция</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-collapse" style="color:black;" href="#" id="hasSubItems" data-toggle="collapse" data-target="#collapseSubItems9" aria-controls="collapseSubItems9" aria-expanded="false">Контроль</a>
                  <ul class="nav-second-level collapse" id="collapseSubItems9" >
                    <li class="nav-item">
                      <a class="nav-link" style="color:black;" href="/stok/">
                        <span class="nav-link-text">санитарно-техническая оценка кофейни</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>

            </div>
          </nav>
          </main>
        </div>
        <div class="col-md-9">
          {% block content %} {% endblock %}
        </div>



      </div>
    </div>




</body>
</html>
