{% extends 'base.html' %}
{% load _simpletag %}

{% block content %}
<title></title>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-9">
            {% for item in news_tag %}
            <div class="card mb-3">
                <div class="card-header">
                    Категория: <a href="{% url 'category' item.category.pk %}" > {{ item.category }}</a>
                </div>
                {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.content|truncatewords:50 }}</p>
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Читать далее...</a>
                </div>
                <div class="card-footer text-muted">
                    {{ item.create_date}}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="list-group">

                {%  list_category%}



            </div>

        </div>
    </div>
</div>
{% endblock %}